$color: white;

.main-container {
  display: flex;
  justify-content: center;
  background: url("../../assets/lake.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;

  .main-content {
    padding-top: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $color;

    h1 {
      margin-bottom: 0;
    }

    .bar {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%;
      border-bottom: 1px solid $color;
    }

    span {
      font-weight: 500;
    }
  }
}

@media all and (max-width: 900px) {
  .main-container {
    display: flex;
    align-items: flex-start;
    background: url("../../assets/flare.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    .main-content {
      padding-top: 20%!important;
    }
  }
}

