@font-face {
  font-family: starlight;
  src: url(assets/fonts/gt.ttf);
}


body {
  margin: 0;
  font-family: starlight, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
